<div class="blog__post">
  <time datetime="2014-04-29">29 April, 2015</time>
  <h2>Ticket Sale Schedule</h2>
  <p>Dedicated to the designers and developers who love CSS, CSSconf EU brings together some of the brightest minds in the industry. For the community, not for profit.</p>
  <p>Due to popular demand, below you’ll find our planned ticket sales dates for CSSconf EU 2015. Please note that our Early Bird tickets have already sold out.</p>
  <ul>
    <li>Tuesday, May 4, 10:00 CEST — Regular Ticket  EUR 330 + VAT + Fees = EUR 399</li>
    <li>Tuesday, June 2, 10:00 CEST — Regular Ticket  EUR 330 + VAT + Fees = EUR 399</li>
    <li>Tuesday, July 7, 10:00 CEST — Regular Ticket EUR 330 + VAT + Fees  = EUR 399</li>
    <li>Tuesday, August 4, 10:00 CEST — Regular Ticket EUR 330 + VAT + Fees = EUR 399 </li>
  </ul>

  <p><a href="/diversity-support-tickets/">Diversity Support Tickets</a> will also be available on those dates. You can make one of the following contributions: </p>
  <ul>
    <li>Regular + 25% Diversity Support Ticket EUR 499 (incl. 19% VAT & fees)</li>
    <li>Regular + 50% Diversity Support Ticket EUR 599 (incl. 19% VAT & fees)</li>
    <li>Regular + 100% Diversity Support Ticket EUR 799 (incl. 19% VAT & fees)</li>
  </ul>

  <h3>What you’ll get</h3>
  <p>Your CSSconf EU ticket gets you:</p>
  <ul>
    <li>Entry to the conference on September 26.</li>
    <li>Entry to the opening and closing events on September 25 & 26.</li>
    <li>Delicious breakfast. Skip your hotel breakfast.</li>
    <li>Fabulous lunch.</li>
    <li>A great fringe program of associated events and many opportunities to connect with great people.</li>
  </ul>

  <p>A Diversity Support Ticket gets you all of the above + the same for one other person who would not otherwise be able to afford CSSconf EU. Find out more about our <a href="/diversity-support-tickets/">Diversity Support program</a>.</p>

  <h3>Tickets + Sponsorship</h3>
  <p>Interested in attending with your team? Our sponsorship packages include tickets to the event and might be the perfect way for you and your company to get involved. Request sponsor information [email link]</p>

  <h3>Additional Information</h3>
  <ul>
    <li>All ticket sales are done through <a href="https://ti.to/cssconfeu/cssconf-eu-2015/" target="_blank">Tito</a>.</li>
    <li>You don’t need a PayPal account, but you can use one! (The other option is Stripe.)</li>
    <li>You can purchase multiple tickets per order.</li>
  </ul>
  <p>The above ticket sale schedule is, of course, determined by availability and is subject to change. All ticket sales will be publicly announced on <a href="https://twitter.com/cssconfeu" target="_blank">twitter</a>, so follow us and stay in the loop!</p>
  <p>CSSconf EU is a not-for-profit event run entirely by volunteers. Every cent we make through ticket sales is invested into making it the best possible conference for you. We are committed to quality, diversity and inclusion.</p>
</div>
<div class="blog__post">
  <time datetime="2014-04-21">21 April, 2015</time>

  <h2>Announcing First Speakers, Regular Ticket Sale Opens</h2>
  <p>Today we launch our new website and with it come some exciting news. We are delighted to announce the first two speakers of CSSconf EU 2015:</p>

  <h3>Lea Verou and Claudina Sarahe</h3>

  <div class="speakers__grid">
    <div class="image">
      <div class="image--has-border">
        <img srcset="/assets/{{version '_'}}/img/speakers/lea-verou-l.jpg 320w,
                     /assets/{{version '_'}}/img/speakers/lea-verou-m.jpg 256w,
                     /assets/{{version '_'}}/img/speakers/lea-verou.jpg 200w" src="/assets/{{version '_'}}/img/speakers/lea-verou.jpg" alt="A portrait picture of Lea Verou.">
        <div class="speakers__overlay"></div>
      </div>
    </div>
    <div class="info">
      <p class="speakers__paragraph">Lea is a speaker, author of “CSS Secrets”, and an Invited Expert in the CSS Working Group. She worked as a Developer Advocate for the W3C and is currently a Research Assistant at MIT.</p>
    </div>
  </div>

  <div class="speakers__grid">
    <div class="image">
      <div class="image--has-border">
        <img srcset="/assets/{{version '_'}}/img/speakers/claudina-sarahe-l.jpg 320w,
                     /assets/{{version '_'}}/img/speakers/claudina-sarahe-m.jpg 256w,
                     /assets/{{version '_'}}/img/speakers/claudina-sarahe.jpg 200w" src="/assets/{{version '_'}}/img/speakers/claudina-sarahe.jpg" alt="A portrait picture of Claudina Sarahe.">
        <div class="speakers__overlay"></div>
      </div>
    </div>
    <div class="info">
      <p class="speakers__paragraph">Claudina is an NYC-based entrepreneur, front end architect, tech event organizer, and speaker. She curates SassConf and runs the monthly NYC Sass meetup.</p>
    </div>
  </div>

  <h3>Call for Speakers Now Open</h3>
  <p>If you have an idea for a talk yourself, we would love to hear it! We recently opened our <a href="/call-for-speakers/">Call for Speakers</a> and are accepting talk proposals until July 15. If you’re not sure where to start, have a look at our <a href="http://2014.cssconf.eu/news/how-to-write-a-great-talk-proposal-for-a-tech">guide on how to write a great talk proposal</a>.</p>

  <h3>Regular Ticket Sale Opens</h3>
  <p>Our first batch of regular tickets goes on sale today, April 21, at 10am CEST. We also offer a number of Diversity Support Tickets as part of our strife to make this as inclusive an event as possible. You can learn more about the <a href="/diversity-support-tickets/">Diversity Support Tickets here</a>.</p>
</div>

