{{!-- <div class="speakers__slider">
  <div class="speakers__slider-element">
  {{#forEach speaker.speakers}}
    <div class="speakers__item">
      <div class="image--has-border">
        <img srcset="{{ imageLarge }} 320w,
                     {{ imageMedium }} 256w,
                     {{ imageSmall }} 200w"
             src="{{ imageSmall }}" alt="{{ altText }}">
        <div class="speakers__overlay"></div>
      </div>
      <h2>
        {{name}}
      </h2>
      <p>{{ bio }}</p>
    </div>
  {{/forEach}}
  </div>
</div> --}}
{{#each speakers}}
  <div class="cl speaker speakers__item">
    <a href="/speaker/{{ urlKey }}.html" class="speaker__image image--has-border">
      <img srcset="/assets/{{version '_'}}/{{ imageLarge }} 320w,
                   /assets/{{version '_'}}/{{ imageMedium }} 256w,
                   /assets/{{version '_'}}/{{ imageSmall }} 200w"
           src="/assets/{{version '_'}}/{{ imageSmall }}" alt="{{ altText }}">
      <div class="speaker__image-overlay"></div>
    </a>

    {{#unless speaker.thumbnails }}
        <h2>{{name}}</h2>
        <p class="speakers__paragraph">{{ bio }}</p>
    {{/unless}}
  </div>
{{/each}}
