<div class="rw g-sponsors-reel section--tight">
  <section class="sponsors">
    <h1 class="sponsors__headline fz-beta fz--is-red">Sponsors</h1>
    <div class="cl sponsors__logo">
        <a class="sponsors__link" href="https://sinnerschrader.com/en/" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-sinnerschrader.svg" alt="">
      </a>
    </div><!--
  --><div class="cl sponsors__logo">
        <a class="sponsors__link" href="http://mailchimp.com/" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-mailchimp.svg" alt="">
      </a>
    </div><!--
 --><div class="cl sponsors__logo">
      <a class="sponsors__link" href="http://www.typography.com/cloud/welcome/?utm_source=CSSConf2015&utm_medium=SponsorshipLogo&utm_campaign=WebfontsByHco" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-hco.svg" alt="">
      </a>
    </div><!--
    --><div class="cl sponsors__logo">
        <a class="sponsors__link" href="https://travis-ci.org/" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-travis.svg" alt="">
      </a>
    </div><!--
    --><div class="cl sponsors__logo sponsors__logo--size-2">
        <a class="sponsors__link" href="http://github.com" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-github.svg" alt="">
      </a>
    </div><!--
 --><div class="cl sponsors__logo sponsors__logo--size-1">
      <a class="sponsors__link" href="http://hitfoxgroup.com/" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-hitfox.svg" alt="">
      </a>
    </div><!--
    --><div class="cl sponsors__logo">
        <a class="sponsors__link" href="http://hood.ie/" target="_blank">
        <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-hoodie.svg" alt="">
      </a>
    </div>
  </section>
</div>
