<time datetime="2014-06-12 11:47:00 GMT">21 April, 2015</time>

<h2>Announcing First Speakers, Regular Ticket Sale Opens</h2>
<p>Today we launch our new website and with it come some exciting news. We are delighted to announce the first two speakers of CSSconf EU 2015:</p>

<h3>Lea Verou and Claudina Sarahe</h3>

<div class="speakers__grid">
  <div class="image">
    <div class="image--has-border">
      <img srcset="/assets/{{version '_'}}/img/speakers/lea-verou-l.jpg 320w,
                   /assets/{{version '_'}}/img/speakers/lea-verou-m.jpg 256w,
                   /assets/{{version '_'}}/img/speakers/lea-verou.jpg 200w" src="/assets/{{version '_'}}/img/speakers/lea-verou.jpg" alt="A portrait picture of Lea Verou.">
      <div class="speakers__overlay"></div>
    </div>
  </div>
  <div class="info">
    <p class="speakers__paragraph">Lea is a speaker, author of “CSS Secrets”, and an Invited Expert in the CSS Working Group. She worked as a Developer Advocate for the W3C and is currently a Research Assistant at MIT.</p>
  </div>
</div>

<div class="speakers__grid">
  <div class="image">
    <div class="image--has-border">
      <img srcset="/assets/{{version '_'}}/img/speakers/claudina-sarahe-l.jpg 320w,
                   /assets/{{version '_'}}/img/speakers/claudina-sarahe-m.jpg 256w,
                   /assets/{{version '_'}}/img/speakers/claudina-sarahe.jpg 200w" src="/assets/{{version '_'}}/img/speakers/claudina-sarahe.jpg" alt="A portrait picture of Claudina Sarahe.">
      <div class="speakers__overlay"></div>
    </div>
  </div>
  <div class="info">
    <p class="speakers__paragraph">Claudina is an NYC-based entrepreneur, front end architect, tech event organizer, and speaker. She curates SassConf and runs the monthly NYC Sass meetup.</p>
  </div>
</div>

<h3>Call for Speakers Now Open</h3>
<p>If you have an idea for a talk yourself, we would love to hear it! We recently opened our <a href="/call-for-speakers/">Call for Speakers</a> and are accepting talk proposals until July 15. If you’re not sure where to start, have a look at our <a href="http://2014.cssconf.eu/news/how-to-write-a-great-talk-proposal-for-a-tech">guide on how to write a great talk proposal</a>.</p>

<h3>Regular Ticket Sale Opens</h3>
<p>Our first batch of regular tickets goes on sale today, April 21, at 10am CEST. We also offer a number of Diversity Support Tickets as part of our strife to make this as inclusive an event as possible. You can learn more about the <a href="/diversity-support-tickets/">Diversity Support Tickets here</a>.</p>


