<div class="rw stage stage--thanks">
  {{#parseJSON '{"large":"stage-thanks-2400.png", "medium":"stage-thanks-1200.png", "small":"stage-thanks-600.png", "altText":"A bunch of shapes."}' }}
    {{> stage}}
  {{/parseJSON}}
  <div class="stage__content state__content--subpage">
    <h1>Thank you!</h1>
    <p>Thank you to our incredible team, amazing speakers, great sponsors, and YOU for making CSSConf EU beautiful and inspiring.</p>
  </div>
</div>

<a href="{{youtubeLink general.moodVideoId general.playlistId}}">
  <div class="rw video video__rw">
      {{#parseJSON '{"large":"mood-video-preview-2400.png", "medium":"mood-video-preview-1200.png", "small":"mood-video-preview-600.png", "altText":"A bunch of shapes."}' }}
        {{> stage}}
      {{/parseJSON}}
      <div class="video__preview-overlay"></div>
    <div class="video__description">
      <h2>CSSConf EU 2015 Wrap Up</h2>
      <p>Pretty much legendary.</p>
    </div>
  </div>
</a>

{{#partition speakers 3}}
  <div class="rw stage thanks__video__group">
    <!--
    {{#each partition}}
      --><div class="video video--thanks">
        <a href="{{youtubeLink videoId ../../general.playlistId}}">
          <img srcset="/assets/{{version '_'}}/{{videoPreviewLarge}} 320w,
                  /assets/{{version '_'}}/{{videoPreviewMedium}} 256w,
                  /assets/{{version '_'}}/{{videoPreviewSmall}} 200w"
              src="/assets/{{version '_'}}/{{videoPreviewSmall}}"
              alt="{{talkTitle}}">
          <div class="video__preview-overlay"></div>
          <div class="video__description">
            <h2>{{name}}</h2>
            <p>{{talkTitle}}</p>
          </div>
        </a>
      </div><!--
    {{/each}}
    -->
  </div>
{{/partition}}

<a href="/overview/">Go to start page</a>
